#darkMode {
  position: absolute;
  top: 3.9rem;
  right: 3rem;
  width: 2.6rem;
  cursor: pointer;

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    top: 5.8rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    right: 9rem;
  }
}


#mainHeader{
  height: 100px;
  background-color: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 99;

  #headerLogo{
    height: 50px;
    margin-left: 100px;
  }
}
