html {
  font-size: 62.5%;
  /* 62.5% of 16px is 10px which is 1rem */
  min-height: 100%;
}

body {
  font-family: $reg-font;
  background-color: rgba(255, 255, 255, 0.65);
}

// FOR TESTING PURPOSES
#welcome {
  color: $light-grey;
  margin-top: 20rem;
  text-align: center;
}

// ---- Dark Mode

[data-palette="0"] {
  background: white;
}

[data-palette="1"] {
  background: white;
  color: $almost-black;
}

.hidden {

  display: none;
}
