//Before working through SASS, don't forget to add this line to terminal:
// sass --watch sass/main.scss:css/main.css --style compressed

//IMPORT MODULES
@import 'modules/_vars';
@import 'modules/_mixins';
@import 'modules/_form';

body {overflow-x: hidden;}

#aboutstart
{
    background-image: url(../images/kayak.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px; 
    overflow: hidden;
}

.well 
{
    display: flex;
    align-items: center;
}

#fact1all
{
    
    margin-top: 60px;
    margin-bottom: 60px;
}

#fact2all
{
    
    margin-top: 60px;
    margin-bottom: 60px;
}

#fact3all
{
    
    margin-top: 60px;
    margin-bottom: 60px;
}

#fact4all
{

    margin-top: 60px;
    margin-bottom: 60px;
}

.factleft
{
    float: left;
    color: white;
    font-size: 1.7em;
    max-width: 70%;
    font-family: Futura-pt, futura, sans-serif;
}



.iconright
{
    float: right;
    max-width: 20%;
    margin-left: 5%;
    
}

.factright
{
    float: right;
    color: white;
    font-size: 1.7em;
    max-width: 70%;
    font-family: Futura-pt, futura, sans-serif;
}

.iconleft
{
    float: left;
    max-width: 20%;
    margin-left: 5%;
    
}

#about_leftside
{
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    background-color: rgba(3, 55, 79, 0.72)
}

#about_leftside h2
{
    color: white;
    font-size: 3.2em;
    text-align: left;
    max-width: 50%;
    margin-top: 20%;
    margin-bottom: 50%;
    margin-left: 20%;
    font-family: Futura-pt, futura, sans-serif;
}

#about_rightside h3
{
    color: #033750;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 2.2em;
    font-family: Futura-pt, futura, sans-serif;
}



#sub_button
{
    background-color: #033750;
    
}

#fact1
{
    background-color: #4dc4d2;
    text-align: center;
}


#image1
{
    background-image: url(../images/leaf_desktop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: 350px;
}

#fact2
{
    background-color: #f05d32;
    text-align: center;
    
}

#image2
{
    
    text-align: center;
    height: 350px;
    background-image: url(../images/cntower_opt.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#fact3
{
    background-color: #033750;
    text-align: center;
}

#image3
{
    background-image: url(../images/camping_opt.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: 350px;
}

#navlogo
{
    min-width: 110px;
    margin-left: 10px;
}

#fact4
{
    background-color: #4dc4d2;
    text-align: center;
}

#image4
{
    background-color: purple;
    text-align: center;
    height: 350px;
}

#footerlogo
{
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 30px;
}

#footernav
{
    text-align: right;
}

#footernav li
{
    display: inline;
    color: white;
    padding-left: 20px;
    color: #f05d32;
    font-family: Futura-pt, futura, sans-serif;

}

.footercon
{
    position: relative;
    background-image: url(../images/footer_girls.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav_item
{
    font-size: 1.2em;
    font-family: Futura-pt, futura, sans-serif;
    margin-left: 20px;
    color: #4dc4d2;
    margin-right: 10px;
}

.nav_item:hover
{
    color: #033750;
    text-decoration: none;
}

nav.navbar.navbar-expand-lg.fixed-top {
    background: black;
}